
        <main>
            <h1>Attach a new accessory</h1>
            <div class="form">
                <h2>{{cube.name}}</h2>
                <img class="cube" src={{cube.imageUrl}}>
                <form method="post">
                    <label for="accessory">Accessories</label>
                    {{#if accessories}}
                    <select id="accessory" name="accessory" />
                    {{#each accessories}}
                    <option value={{_id}}>{{name}}</option>
                    {{/each}}
                    </select>
                    {{else}}
                        <h3 class="italic">The cube has all available accessories...
                        </h3>
                    {{/if}}
                    <input type="submit" value="Attach">
                </form>

                <a class="btn" href="/cube/{{cube._id}}">Back</a>
            </div>
        </main>
